<div class="row">
    <input id="search" type="text" placeholder="Search Brothers" ng-model="search"/>
</div>
<div class="row" ng-if="isAdmin" >
    <div class="col-lg-12">
        <button class="btn btn-primary add-button" ng-click="addBrother()">
            Add Brother<i class="fa fa-add"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul class="list-group">
            <li class="list-group-item row list-header">
                <span class="col-lg-3 col-md-3 col-sm-3 col">Name</span>
                <span class="col-lg-6 col-md-6 col-sm-6 col">Major</span>
                <span class="col-lg-3 col-md-3 col-sm-3 col">Class</span>
            </li>
            <li ng-repeat="brother in $ctrl.brothers | filter:search" class="list-group-item row clickable" ng-click="$ctrl.toBrother(brother)">
                <span class="col-lg-3 col-md-3 col-sm-3 col">{{ brother.firstName }} {{ brother.lastName }}</span>
                <span class="col-lg-6 col-md-6 col-sm-6 col">{{ brother.major }}</span>
                <span class="col-lg-3 col-md-3 col-sm-3 col">{{ brother.class }}</span>
            </li>
        </ul>
    </div>
</div>
