<div class="row">
    <input id="search" type="text" placeholder="Search Brothers" ng-model="search"/>
</div>
<div class="row" ng-if="isAdmin" >
    <div class="col-lg-12">
        <button class="btn btn-primary add-button" ng-click="toggleForm()">
            Add Brother<i class="fa fa-add"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul class="list-group">
            <li class="list-group-item row list-header">
                <span class="col-lg-3 col-md-3 col-sm-3 col">Name</span>
                <span class="col-lg-6 col-md-6 col-sm-6 col">Major</span>
                <span class="col-lg-3 col-md-3 col-sm-3 col">Class</span>
            </li>
            <li ng-repeat="brother in $ctrl.brothers | filter:search" class="list-group-item row clickable" ng-click="$ctrl.toBrother(brother)">
                <span class="col-lg-3 col-md-3 col-sm-3 col">{{ brother.firstName }} {{ brother.lastName }}</span>
                <span class="col-lg-6 col-md-6 col-sm-6 col">{{ brother.major }}</span>
                <span class="col-lg-3 col-md-3 col-sm-3 col">{{ brother.class }}</span>
            </li>
        </ul>
    </div>
</div>
<div class="form-overlay" ng-if="isAdmin" ng-show="showForm">
    <form>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="First Name" ng-model="formData.firstName">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" ng-model="formData.lastName">
        </div>
        <div class="form-group">
            <label>Major</label>
            <input type="text" class="form-control" placeholder="Major" ng-model="formData.major">
        </div>
        <div class="form-group">
            <label>Class</label>
            <input type="text" class="form-control" placeholder="Class" ng-model="formData.class">
        </div>
        <div class="form-group">
            <label>Graduation Year</label>
            <input type="number" class="form-control" placeholder="Graduation Year" ng-model="formData.graduationYear">
        </div>
        <button class="btn btn-default" ng-click="hideForm()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-click="addBrother(formData)">Submit</button>
        <pre>formData = {{formData | json}}</pre>
    </form>
</div>
