<div class="row">
    <input id="search" type="text" placeholder="Search binders" title="Search site" ng-model="search"/>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul class="list-group">
            <li class="list-group-item row list-header">
                <span class="col-lg-4 col-md-4 col-sm-4 col">Subject</span>
                <span class="col-lg-4 col-md-4 col-sm-4 col">Abbreviation</span>
                <span class="col-lg-4 col-md-4 col-sm-4 col">Class</span>
            </li>
            <li ng-repeat="binder in $ctrl.binders | filter:search" class="list-group-item row">
                <span class="col-lg-4 col-md-4 col-sm-4 col">{{ binder.subject }}</span>
                <span class="col-lg-4 col-md-4 col-sm-4 col">{{ binder.abbreviation }}</span>
                <span class="col-lg-4 col-md-4 col-sm-4 col">{{ binder.class }}</span>
            </li>
        </ul>
    </div>
</div>
