<!--<div ng-init="$ctrl.getBrother">-->
<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron" ng-show="!isAdmin">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2><strong>{{ brother.firstName }} {{ brother.lastName }}</strong></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <h6><small>Major</small></h6>
                        <h4>{{ brother.major }}</h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <h6><small>Class</small></h6>
                        <h4>{{ brother.class }}</h4>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <h6><small>Graduation Year</small></h6>
                        <h4>{{ brother.graduationYear }}</h4>
                    </div>
                </div>
            </div>
            <div class="jumbotron" ng-if="isAdmin">
                <h2>Edit Brother</h2>
                <form>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" ng-model="brother.firstName">
                        <br>
                        <input type="text" class="form-control" ng-model="brother.lastName">
                    </div>
                    <div class="form-group">
                        <label>Major</label>
                        <input type="text" class="form-control" ng-model="brother.major">
                    </div>
                    <div class="form-group">
                        <label>Class</label>
                        <input type="text" class="form-control" ng-model="brother.class">
                    </div>
                    <div class="form-group">
                        <label>Graduation Year</label>
                        <input type="text" class="form-control" ng-model="brother.graduationYear">
                    </div>
                    <button class="btn btn-danger" ng-click="delete(brother)">Delete</button>
                    <button type="submit" class="btn btn-primary" ng-click="update(brother)">Update</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row" ng-if="isAdmin" >
        <div class="col-lg-12">
            <button class="btn btn-primary add-button" ng-click="toggleForm()">Add Class</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group" ng-repeat="classList in filteredClasses(brother.classes)">
                <li class="list-group-item row list-header">
                    <div class="row">
                        <span class="col-lg-10 col-md-9 col-sm-7">
                            <h5 class="list-header-text">{{ classList.semester }}</h5>
                        </span>
                        <span class="col-lg-2 col-md-3 col-sm-5">
                            <button class="btn btn-danger" aria-hidden="true" ng-show="isAdmin" ng-click="deleteSemester(classList)">Delete Semester</button>
                        </span>
                    </div>
                    <!--<div class="row">-->
                        <!--<span class="col-lg-5 col-md-5 col-sm-5 col">Name</span>-->
                        <!--<span class="col-lg-4 col-md-4 col-sm-4 col">Abbreviation</span>-->
                        <!--<span class="col-lg-3 col-md-3 col-sm-3 col">Class</span>-->
                    <!--</div>-->
                </li>
                <li ng-repeat="class in classList.classes | orderBy:'name'" class="list-group-item row">
                    <span class="col-lg-5 col-md-5 col-sm-5 col">{{ class.name }}</span>
                    <span class="col-lg-3 col-md-3 col-sm-3 col">{{ class.abbreviation }}</span>
                    <span class="col-lg-3 col-md-3 col-sm-3 col">{{ class.number }}</span>
                    <span class="col-lg-1 col-md-1 col-sm-1" ng-show="isAdmin">
                        <i class="fa fa-trash-o clickable" aria-hidden="true" ng-click="deleteClass(class, classList)"></i>
                    </span>
                </li>
            </ul>
            <pre ng-if="isAdmin">Classes = {{ brother.classes | json }}</pre>
        </div>
    </div>
</div>
<div class="form-overlay" ng-if="isAdmin" ng-show="showForm">
    <form>
        <div class="form-group">
            <label>Semester</label>
            <input type="text" class="form-control" placeholder="Semester" ng-model="formData.semester">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="formData.name">
        </div>
        <div class="form-group">
            <label>Abbreviation</label>
            <input type="text" class="form-control" placeholder="Abbreviation" ng-model="formData.abbreviation">
        </div>
        <div class="form-group">
            <label>Number</label>
            <input type="text" class="form-control" placeholder="Number" ng-model="formData.number">
        </div>
        <button class="btn btn-default" ng-click="hideForm()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-click="addClass(formData)">Submit</button>
    </form>

</div>